# dependencies
node_modules/
.pnp
.pnp.*

# next
.next/
out/
next-env.d.ts

# production
build/
dist/

# testing
coverage/
playwright-report/
test-results/
blob-report/
.playwright/

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*
